<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Arusha</string>
	<string>Bergendal, Sidikalang</string>
	<string>Blue Mountain</string>
	<string>Bourbon</string>
	<string>Caturra</string>
	<string>Catuai</string>
	<string>Charrieriana</string>
	<string>Colombian</string>
	<string>Ethiopian Harar</string>
	<string>Ethiopian Sidamo</string>
	<string>Ethiopian Yirgacheffe</string>
	<string>French Mission</string>
	<string>Guadeloupe Bonifieur</string>
	<string>HawaiianKona</string>
	<string>Jamaican Blue Mountain</string>
	<string>Java</string>
	<string>K7</string>
	<string>Mayaguez</string>
	<string>Mocha</string>
	<string>Mundo Novo</string>
	<string>Orange, Yellow Bourbon</string>
	<string>Pacamara</string>
	<string>Pacas</string>
	<string>Pache Comum</string>
	<string>Pache Colis</string>
	<string>Panama</string>
	<string>Maragogipe</string>
	<string>Mundo Novo</string>
	<string>Ruiri 11</string>
	<string>S795</string>
	<string>Santos</string>
	<string>Sarchimor</string>
	<string>SL28</string>
	<string>SL34</string>
	<string>SumatraMandheling andSumatraLintong</string>
	<string>SulawesiToraja Kalossi</string>
	<string>Timor, Arabusta</string>
	<string>Typica</string>
	<string>Uganda</string>
</array>
</plist>
